#contact::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-image: url("../img/img4.jpeg");
	opacity: 0.2;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#contact {
	position: relative;
	display: unset;
	padding: 1rem;
	width: 100%;
}

#contact>form {
	width: 100%;
}

#contactForm {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

#contactForm>* {
	font-size: 1rem;
}

#contactForm select,
#contactForm input,
#contactForm textarea {
	padding: 8px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
}

#contactForm textarea {
	resize: vertical;
	min-height: 250px;
}

#contactForm label {
	margin-top: 1rem;
}

#contactForm button[type=submit] {
	padding: 8px 16px;
	margin: 8px 0;
	align-self: flex-end;
	background-color: #82ff82;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

#contactForm button[type=submit] #arrow {
	font-size: 2rem;
}

@media (min-width: 768px) {
	#contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 75%;
	}

	#contactForm select,
	#contactForm input {
		width: 50%;
	}
}